/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

html {
  font-size: 16px;
  font-weight: bold;
  color: #3f5d45;
}

a {
  display: block;
  text-decoration: none;
  color: #3f5d45;
}

.fs-1 {
  font-size: 2.5rem;
}

.fs-2 {
  font-size: 2rem;
}

.fs-3 {
  font-size: 1.75rem;
}

.fs-4 {
  font-size: 1.5rem;
}

.fs-5 {
  font-size: 1.25rem;
}

.fs-6 {
  font-size: 1rem;
}

.active {
  background-color: #3f5d45;
  color: #eaf0ed;
}

.hover {
  background-color: #eaf0ed;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
}

.header img {
  height: 40px;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.header .menu ul a {
  padding: 10px 60px 8px 0;
}

.header .menu ul a:hover {
  background: #eaf0ed;
  color: #3f5d45;
  border-bottom: 5px solid #3f5d45;
}

.header .menu .shopping-cart {
  margin-left: 19px;
}

.header .menu .shopping-cart:hover {
  background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/shopping_cart.png?raw=true"), #eaf0ed;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: multiply;
}

.header .menu img {
  height: 24px;
}

.banner {
  margin-bottom: 60px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .category {
  width: 300px;
  margin-right: 20px;
  text-align: center;
  font-size: 1.5rem;
}

.content .category span {
  display: block;
  height: 65px;
  line-height: 65px;
  background: #3f5d45;
  color: #eaf0ed;
}

.content .category li {
  border: 1px solid #eaf0ed;
}

.content .category a {
  height: 65px;
  line-height: 65px;
}

.content .category a:hover {
  background: #eaf0ed;
  color: #3f5d45;
}

.content .product {
  width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .product .product-info {
  width: 300px;
  margin-bottom: 20px;
}

.content .product .product-info .product-img {
  position: relative;
  height: 315px;
}

.content .product .product-info .product-img span {
  position: absolute;
  left: 20px;
  padding: 10px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  background: #3f5d45;
  color: #eaf0ed;
  letter-spacing: 5px;
}

.content .product .product-info .product-img a {
  display: contents;
}

.content .product .product-info .product-img a img {
  position: absolute;
  top: 19px;
  right: 22px;
}

.content .product .product-info .product-description {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .product .product-info .product-description li {
  height: 56px;
  line-height: 56px;
  border: 1px solid #eaf0ed;
  font-size: 1.25rem;
}

.content .product .product-info .product-description .product-name {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.content .product .product-info .product-description .product-price {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.content .product .product-info a {
  text-align: center;
  font-size: 1.75rem;
  height: 65px;
  line-height: 65px;
  background: #eaf0ed;
  color: #3f5d45;
}

.content .product .product-info a:hover {
  background: #3f5d45;
  color: #eaf0ed;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 10px 0 60px 0;
  text-align: center;
  font-size: 1.25rem;
}

.pagination li {
  border: 1px solid #eaf0ed;
}

.pagination li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 60px;
}

.pagination li a:hover {
  background: #eaf0ed;
  color: #3f5d45;
}

.pagination li .previous {
  background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/arrow_left.png?raw=true") no-repeat center center;
}

.pagination li .previous:hover {
  background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/arrow_left.png?raw=true"), #eaf0ed;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: multiply;
}

.pagination li .next {
  background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/arrow_right.png?raw=true") no-repeat center center;
}

.pagination li .next:hover {
  background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/arrow_right.png?raw=true"), #eaf0ed;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: multiply;
}
/*# sourceMappingURL=all.css.map */