html {
  font-size: $fs-base;
  font-weight: bold;
  color: $theme-color;
}

a {
  display: block;
  text-decoration: none;
  color: $theme-color;
}

.container {
  max-width: $max-width;
  @include tablet {
    max-width: $max-width * 0.9;
  }
  @include pad {
    max-width: $max-width * 0.75;
  }
  @include mobile {
    max-width: $max-width * 0.55;
  }
  margin: 0 auto;
}

.active {
  @include bg-dark;
}

.selected {
  @include bg-light;
}

.header {
  @include flex-align-items-center {
    justify-content: space-between;
  }
  margin: 30px 0;
  @include tablet {
    margin: 10px 0;
  }
  img {
    height: 40px;
  }
  .menu {
    @include flex-align-items-center {
      justify-content: space-between;
    }
    ul {
      @include flex-align-items-center {
        justify-content: start;
      }
      a {
        padding: 10px 60px 8px 0;
        @include hover-light {
          border-bottom: 5px solid $theme-color;
        }
      }
    }
    .shopping-cart {
      margin-left: 19px;
      @include hover-pic-light(
        "https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/shopping_cart.png?raw=true"
      );
    }
    img {
      height: 24px;
    }
  }
}

.banner {
  margin-bottom: 60px;
  @include tablet {
    margin-bottom: 30px;
  }
}

.content {
  @include flex {
    justify-content: space-between;
  }
  .category {
    width: $card-width;
    font-size: $fs-4;
    @include line-height($column-height-1);
    @include tablet {
      width: $card-width * 0.7;
      font-size: $fs-5;
      @include line-height($column-height-2);
    }
    margin-right: 20px;
    text-align: center;
    span {
      display: block;
      @include bg-dark;
    }
    li {
      @include border-light;
    }
    a {
      @include hover-light;
    }
  }

  .product {
    width: $product-width;
    @include flex {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .product-info {
      text-align: center;
      width: $card-width;
      margin-bottom: 20px;
      @include tablet {
        margin-bottom: 15px;
      }
      .product-img {
        position: relative;
        span {
          position: absolute;
          left: 20px;
          padding: 10px;
          writing-mode: vertical-rl;
          @include bg-dark;
          letter-spacing: 5px;
        }
        a {
          display: contents;
          img {
            position: absolute;
            top: 19px;
            right: 22px;
          }
        }
      }
      .product-description {
        @include flex-align-items-center {
          justify-content: space-between;
        }
        li {
          @include border-light;
          font-size: $fs-5;
          @include line-height($column-height-2);
        }
        .product-name {
          flex-grow: 2;
        }
        .product-price {
          flex-grow: 1;
        }
      }
      a {
        font-size: $fs-3;
        @include tablet {
          font-size: $fs-4;
        }
        @include line-height($column-height-1);
        @include bg-light;
        @include hover-dark;
      }
    }
  }
}

.pagination {
  @include flex-align-items-center {
    justify-content: end;
  }
  margin: 10px 0 60px 0;
  text-align: center;
  font-size: $fs-5;
  li {
    @include border-light;
    a {
      @include flex-align-items-center {
        justify-content: center;
      }
      height: 60px;
      width: 60px;
      @include hover-light;
    }
    .previous {
      @include bg-pic($previous-arrow);
    }
    .next {
      @include bg-pic($next-arrow);
    }
  }
}
