// Hexschool 推薦加入
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

body {
  font-family: $font-family-base;
  font-weight: bold;
  color: $theme-color-dark;
}
