@mixin flex {
  display: flex;
  @content;
}

@mixin flex-align-items-center {
  display: flex;
  align-items: center;
  @content;
}

@mixin hover-light {
  &:hover {
    @include bg-light;
    @content;
  }
}

@mixin hover-dark {
  &:hover {
    @include bg-dark;
  }
}

@mixin bg-light {
  color: $theme-color;
  background: $theme-color-light;
}

@mixin bg-dark {
  color: $theme-color-light;
  background: $theme-color;
}

@mixin border-light {
  border: 1px solid $theme-color-light;
}

@mixin active-light {
  color: $theme-color;
  background-color: $theme-color-light;
}

@mixin active-dark {
  color: $theme-color-light;
  background-color: $theme-color;
}

@mixin line-height($height) {
  height: $height;
  line-height: $height;
}

// 桌機
@mixin pc {
  @media (max-width: $pc-size) {
    @content;
  }
}

// 筆電
@mixin tablet {
  @media (max-width: $tablet-size) {
    @content;
  }
}

// 平板
@mixin pad {
  @media (max-width: $pad-size) {
    @content;
  }
}

// 手機
@mixin mobile {
  @media (max-width: $mobile-size) {
    @content;
  }
}
