@mixin flex {
  display: flex;
  @content;
}

@mixin flex-align-items-center {
  display: flex;
  align-items: center;
  @content;
}

@mixin hover-light {
  &:hover {
    @include bg-light;
    @content;
  }
}

@mixin hover-dark {
  &:hover {
    @include bg-dark;
  }
}

@mixin hover-pic-light($pic) {
  &:hover {
    background: url($pic), $theme-color-light;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: multiply;
  }
}

@mixin bg-light {
  background: $theme-color-light;
  color: $theme-color;
}

@mixin bg-dark {
  background: $theme-color;
  color: $theme-color-light;
}

@mixin bg-pic($url) {
  background: url($url) no-repeat center center;
  @include hover-pic-light($url);
}

@mixin border-light {
  border: 1px solid $theme-color-light;
}

@mixin active-light {
  color: $theme-color;
  background-color: $theme-color-light;
}

@mixin active-dark {
  color: $theme-color-light;
  background-color: $theme-color;
}

@mixin line-height($height) {
  height: $height;
  line-height: $height;
}

// 桌機
@mixin pc {
  @media (max-width: 1199px) {
    @content;
  }
}

// 筆電
@mixin tablet {
  @media (max-width: 991px) {
    @content;
  }
}

// 平板
@mixin pad {
  @media (max-width: 767px) {
    @content;
  }
}

// 手機
@mixin mobile {
  @media (max-width: 575px) {
    @content;
  }
}
