$font-family-base: "PingFang TC";
$max-width: 940px;
$theme-color: #3f5d45;
$theme-color-light: #eaf0ed;
$fs-base: 16px;
$fs-1: 2.5rem;
$fs-2: 2rem;
$fs-3: 1.75rem;
$fs-4: 1.5rem;
$fs-5: 1.25rem;
$fs-6: 1rem;

$card-width: 300px;
$product-width: 620px;

$previous-arrow: "https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/arrow_left.png?raw=true";
$next-arrow: "https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/arrow_right.png?raw=true";
