@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
$font-family-base: "Noto Sans TC", "PingFang TC", serif;
$theme-color: #afd4e2;
$theme-color-light: #ffffff;
$theme-color-dark: #1e3240;
$theme-color-gray: #bdbdbd;
