@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Mulish&display=swap");
$font-family-base: "Mulish", "Noto Sans TC", "PingFang TC", serif;
$theme-color: #afd4e2;
$theme-color-light: #ffffff;
$theme-color-dark: #1e3240;
$theme-color-gray: #bdbdbd;
$fs-base: 16px;
$fs-1: 2.5rem;
$fs-2: 2rem;
$fs-3: 1.75rem;
$fs-4: 1.5rem;
$fs-5: 1.25rem;
$fs-6: 1rem;

$pc-size: 1199px;
$tablet-size: 991px;
$pad-size: 767px;
$mobile-size: 575px;
