.btn-custom-hex {
  @include button-variant(#69f0ae, #69f0ae);
}

.btn-outline-hex {
  @include button-outline-variant(#69f0ae);
}

.btn-search {
  border-radius: 50px;
  font-size: 14px;
  height: 27px;
}
