// .bg-cover {
//   background-size: cover;
//   background-position: center center;
//   background-repeat: no-repeat;
// }

// .bg-dark-gradient {
//   background-image: linear-gradient(180deg, rgba(53, 53, 53, 0.4), rgba(53, 53, 53, 0.4));
// }

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(0, 187, 240, 0.25), rgba(0, 187, 240, 0.25));
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    left: calc(50% - 1200px / 2 - 600px);
    top: calc(50% - 1200px / 2);
    height: 1200px;
    width: 1200px;
    background-color: rgba(253, 180, 75, 0.9);
    border-radius: 50%;
    z-index: 2;
  }
  & > * {
    position: absolute;
    z-index: 100;
  }
}
