.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@mixin dot($size, $opacity) {
  height: $size;
  width: $size;
  background-color: var(--bs-secondary);
  opacity: $opacity;
  border-radius: 50%;
}

@mixin bg-gradient-primary {
  background-image: linear-gradient(0deg, var(--bs-primary), var(--bs-primary));
  opacity: 25%;
  width: 100%;
  height: 100%;
}

.custom-select {
  select {
    appearance: none;
    cursor: pointer;
    background: #ffffff;

    background-image: url(../../img/Vector.svg);
    background-repeat: no-repeat;
    background-position: 90% center;
  }
}

.custom-round {
  padding: 12px 24px;
  border-radius: 40px;
  outline: none;
  border: none;
}

.background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  min-height: 100vh;
  min-width: 100vw;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    @include bg-gradient-primary();
  }

  &::after {
    content: "";
    position: absolute;
    left: calc(50% - 1200px / 2 - 600px);
    top: calc(50% - 1200px / 2);
    z-index: 0;
    @include dot(1200px, 90%);
  }

  & > * {
    z-index: 100;
  }

  .saly {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .title-en {
    position: absolute;
    left: 10%;
    top: 10%;
  }
  .title-tw {
    position: absolute;
    left: 10%;
    bottom: 15%;
  }

  .search {
    position: absolute;
    right: 10%;
    top: 30%;
  }
}

header {
  height: 400px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: -50px;
    top: -50px;
    @include dot(280px, 90%);
  }

  &::before {
    content: "";
    position: absolute;
    @include bg-gradient-primary();
  }
}
