.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-dark-gradient {
  background-image: linear-gradient(180deg, rgba(53, 53, 53, 0.4), rgba(53, 53, 53, 0.4));
}

.uppercase {
  text-transform: uppercase;
}

.sub-text {
  font-size: 10px;
}

.hover-spot {
  position: relative;

  &:hover::before {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: var(--bs-secondary);
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.nav-item {
  .hover-menu {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
  }

  &:hover .hover-menu {
    visibility: visible;
    opacity: 1;
    z-index: 2;
  }
}

.line {
  width: 1px;
  background: var(--bs-light);
}
