.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-dark-gradient {
  background-image: linear-gradient(180deg, rgba(53, 53, 53, 0.4), rgba(53, 53, 53, 0.4));
}

.uppercase {
  text-transform: uppercase;
}

.hover-spot {
  position: relative;

  &:hover::before {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: var(--bs-secondary);
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
