.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

// .bg-dark-gradient {
//   background-image: linear-gradient(180deg, rgba(53, 53, 53, 0.4), rgba(53, 53, 53, 0.4));
// }

.uppercase {
  text-transform: uppercase;
}

.sub-text {
  font-size: 10px;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: var(--bs-secondary);
  border-radius: 50%;
}

.hover-spot {
  position: relative;
  &:hover::before {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: var(--bs-secondary);
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.line {
  width: 1px;
  background: var(--bs-light);
}

.carousel {
  position: relative;

  .search {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 8px 16px;
  }
}

.participate {
  padding-top: 144px;
  padding-bottom: 144px;
  background-color: #fafafa;
}

.hover-list-group {
  display: inline-block;

  li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--bs-light);

    &::marker {
      color: var(--bs-secondary);
    }

    &:nth-child(4) {
      border: 0px;
    }

    &:hover {
      color: var(--bs-primary);
    }

    .dot {
      margin-right: 8px;
      margin-left: 8px;
    }
    span {
      padding: 16px 8px;
      font-size: 18px;
    }
  }
}

.hover-menu {
  .sub-menu {
    z-index: -1;
    transition: all 1s ease-in-out;
  }

  &:hover {
    .sub-menu {
      z-index: 100;
    }
  }
}
