.banner {
  background-image: url(../../img/banner-01.png);
  height: 500px;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

// .bg-dark-gradient {
//   background-image: linear-gradient(180deg, rgba(53, 53, 53, 0.4), rgba(53, 53, 53, 0.4));
// }

.uppercase {
  text-transform: uppercase;
}

.dropdown-menu-primary {
  color: white;
  background-color: var(--bs-primary);
  border-radius: 4px;
}

.divider {
  background-color: white;
  width: 100%;
  height: 2px;
}

.hover-shadow {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);

  &:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  }
}

.hover-custom {
  tr:hover {
    border-bottom: 1px solid #129995;
  }

  a {
    color: black;
    &:hover {
      color: #129995;
    }
  }
}
