{% load static %}
<div id="qbootstrap-countdown" data-stellar-background-ratio="0.5"
    style="background-image: url({% static 'images/cover_bg_2.jpg' %});" data-section="wedding-day">
    <div class="overlay"></div>
    <div class="display-over">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-12 section-heading text-center svg-sm colored">
                    <img src="{% static 'images/flaticon/svg/006-flower-bell-outline-design-variant-with-vines-and-leaves.svg' %}"
                        class="svg" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <h2 class="">The Wedding Day</h2>
                    <span class="datewed">Saturday, Dec. 25, 2021</span>
                </div>
            </div>
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <p class="countdown">
                        <span id="days"></span>
                        <span id="hours"></span>
                        <span id="minutes"></span>
                        <span id="seconds"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>