{% load static %}
<div id="qbootstrap-couple" class="qbootstrap-section-gray">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 animate-box">
                <div class="col-md-12 text-center section-heading svg-sm colored">
                    <img src="{% static 'images/flaticon/svg/005-two.svg' %}" class="svg"
                        alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <h2>Are Getting Married</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam accusamus, sequi, minima
                        repellendus explicabo magni aperiam, ducimus perferendis ad quidem suscipit omnis unde
                        veritatis pariatur. Commodi, nisi. Iusto, accusantium a.
                    </p>
                    <p>
                        <strong>on Dec 25, 2021 &mdash; Taipei, Taiwan</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="col-md-5 col-sm-5 col-xs-5 nopadding">
                    <img src="{% static 'images/groom.jpg' %}" class="img-responsive"
                        alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <h3>Aaron Tu</h3>
                    <span>Groom</span>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2 nopadding">
                    <h2 class="amp-center"><img src="{% static 'images/flaticon/svg/003-luxury.svg' %}"
                            class="svg img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com"></h2>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5 nopadding">
                    <img src="{% static 'images/bride.jpg' %}" class="img-responsive"
                        alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <h3>Annabelle Kan</h3>
                    <span>Bride</span>
                </div>
            </div>
        </div>
    </div>
</div>