{% load static %}
<div id="qbootstrap-gallery" data-section="gallery">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12 text-center section-heading svg-sm colored">
                    <img src="{% static 'images/flaticon/svg/005-two.svg' %}" class="svg"
                        alt="Free HTML5 Bootstrap Template by QBootstrap.com" />
                    <h2>Our Selfie Photos</h2>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 subtext">
                            <h3>
                                Far far away, behind the word mountains, far from the
                                countries Vokalia and Consonantia, there live the blind
                                texts.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="gallery animate-box">
                    <a class="gallery-img image-popup image-popup" href="{% static 'images/gallery-1.jpg' %}"><img
                            src="{% static 'images/gallery-1.jpg' %}" class="img-responsive"
                            alt="Free HTML5 Bootstrap Template by QBootstrap.com" /></a>
                </div>
                <div class="gallery animate-box">
                    <a class="gallery-img image-popup" href="{% static 'images/gallery-10.jpg' %}"><img src="{% static 'images/gallery-10.jpg' %}"
                            class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com" /></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="gallery animate-box">
                    <a class="gallery-img image-popup" href="{% static 'images/gallery-6.jpg' %}"><img src="{% static 'images/gallery-6.jpg' %}"
                            class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com" /></a>
                </div>
                <div class="gallery animate-box">
                    <a class="gallery-img image-popup" href="{% static 'images/gallery-2.jpg' %}"><img src="{% static 'images/gallery-2.jpg' %}"
                            class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com" /></a>
                </div>
                <div class="gallery animate-box">
                    <a class="gallery-img image-popup" href="{% static 'images/gallery-5.jpg' %}"><img src="{% static 'images/gallery-5.jpg' %}"
                            class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com" /></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="gallery animate-box">
                    <a class="gallery-img image-popup" href="{% static 'images/gallery-7.jpg' %}"><img src="{% static 'images/gallery-7.jpg' %}"
                            class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com" /></a>
                </div>
                <div class="gallery animate-box">
                    <a class="gallery-img image-popup" href="{% static 'images/gallery-3.jpg' %}"><img src="{% static 'images/gallery-3.jpg' %}"
                            class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com" /></a>
                </div>
                <div class="gallery animate-box">
                    <a class="gallery-img image-popup" href="{% static 'images/gallery-4.jpg' %}"><img src="{% static 'images/gallery-4.jpg' %}"
                            class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com" /></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="gallery animate-box">
                    <a class="gallery-img image-popup" href="{% static 'images/gallery-8.jpg' %}"><img src="{% static 'images/gallery-8.jpg' %}"
                            class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com" /></a>
                </div>
                <div class="gallery animate-box">
                    <a class="gallery-img image-popup" href="{% static 'images/gallery-9.jpg' %}"><img src="{% static 'images/gallery-9.jpg' %}"
                            class="img-responsive" alt="Free HTML5 Bootstrap Template by QBootstrap.com" /></a>
                </div>
            </div>
        </div>
    </div>
</div>