{% load static %}
<div id="qbootstrap-groom-bride" data-section="groom-bride">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12 text-center section-heading svg-sm-2 colored">
                    <img src="{% static 'images/flaticon/svg/002-wedding-couple.svg' %}" class="svg"
                        alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <h2>Groom &amp; Bride</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam accusamus, sequi, minima
                        repellendus explicabo magni aperiam, ducimus perferendis ad quidem suscipit omnis unde
                        veritatis pariatur. Commodi, nisi. Iusto, accusantium a.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="couple groom text-center animate-box">
                    <img src="{% static 'images/groom.jpg' %}" class="img-responsive"
                        alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <div class="desc">
                        <h2>Aaron Tu</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda vero totam eum,
                            necessitatibus reprehenderit nisi, ratione neque aspernatur sapiente minus? Omnis neque
                            labore distinctio aspernatur esse impedit laboriosam, veritatis dolorem!</p>
                        <ul class="social social-circle">
                            <li>
                                <a href="#">
                                    <i class="icon-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="couple bride text-center animate-box">
                    <img src="{% static 'images/bride.jpg' %}" class="img-responsive"
                        alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <div class="desc">
                        <h2>Annabelle Kan</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda vero totam eum,
                            necessitatibus reprehenderit nisi, ratione neque aspernatur sapiente minus? Omnis neque
                            labore distinctio aspernatur esse impedit laboriosam, veritatis dolorem!</p>
                        <ul class="social social-circle">
                            <li>
                                <a href="#">
                                    <i class="icon-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>