{% load static %}
<div class="qbootstrap-hero" data-section="home">
  <div class="qbootstrap-overlay"></div>
  <div class="qbootstrap-cover text-center" data-stellar-background-ratio="0.5"
    style="background-image: url({% static 'images/cover_bg_3.jpg' %})">
    <div class="display-t">
      <div class="display-tc">
        <div class="container">
          <div class="col-md-10 col-md-offset-1">
            <div class="animate-box svg-sm colored">
              <img src="{% static 'images/flaticon/svg/004-nature.svg' %}" class="svg"
                alt="Free HTML5 Bootstrap Template by QBootstrap.com" />
              <h1 class="holder">
                <span>The Wedding of</span>
              </h1>
              <h2>Aaron Tu &amp; Annabelle Kan</h2>
              <p>12/25/2021</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>