{% load static %}
<div id="qbootstrap-people" data-section="people">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12 text-center section-heading svg-sm colored">
                    <img src="{% static 'images/flaticon/svg/005-two.svg' %}" class="svg"
                        alt="Free HTML5 Bootstrap Template by QBootstrap.com" />
                    <h2>The Groomsmen</h2>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 subtext">
                            <h3>
                                Far far away, behind the word mountains, far from the
                                countries Vokalia and Consonantia, there live the blind
                                texts.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-lg">
            <div class="col-md-3 text-center animate-box">
                <div class="groom-men">
                    <img src="{% static 'images/groom-men-1.jpg' %}" class="img-responsive"
                        alt="Free HTML5 Bootstrap Template by QBootstrap.com" />
                    <h3>Ian Bill</h3>
                </div>
            </div>
            <div class="col-md-3 text-center animate-box">
                <div class="groom-men">
                    <img src="{% static 'images/groom-men-2.jpg' %}" class="img-responsive"
                        alt="Free HTML5 Bootstrap Template by QBootstrap.com" />
                    <h3>George Smith</h3>
                </div>
            </div>
            <div class="col-md-3 text-center animate-box">
                <div class="groom-men">
                    <img src="{% static 'images/groom-men-3.jpg' %}" class="img-responsive"
                        alt="Free HTML5 Bootstrap Template by QBootstrap.com" />
                    <h3>Brian Thompson</h3>
                </div>
            </div>
            <div class="col-md-3 text-center animate-box">
                <div class="groom-men">
                    <img src="{% static 'images/groom-men-4.jpg' %}" class="img-responsive"
                        alt="Free HTML5 Bootstrap Template by QBootstrap.com" />
                    <h3>David Howard</h3>
                </div>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12 text-center section-heading svg-sm colored">
                    <img src="{% static 'images/flaticon/svg/005-two.svg' %}" class="svg"
                        alt="Free HTML5 Bootstrap Template by QBootstrap.com" />
                    <h2>The Bridesmaid</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center animate-box">
                <div class="groom-men">
                    <img src="{% static 'images/bridesmaid-1.jpg' %}" class="img-responsive"
                        alt="Free HTML5 Bootstrap Template by QBootstrap.com" />
                    <h3>Angel Thomas</h3>
                </div>
            </div>
            <div class="col-md-3 text-center animate-box">
                <div class="groom-men">
                    <img src="{% static 'images/bridesmaid-2.jpg' %}" class="img-responsive"
                        alt="Free HTML5 Bootstrap Template by QBootstrap.com" />
                    <h3>Kathy Shol</h3>
                </div>
            </div>
            <div class="col-md-3 text-center animate-box">
                <div class="groom-men">
                    <img src="{% static 'images/bridesmaid-3.jpg' %}" class="img-responsive"
                        alt="Free HTML5 Bootstrap Template by QBootstrap.com" />
                    <h3>Rose Mel</h3>
                </div>
            </div>
            <div class="col-md-3 text-center animate-box">
                <div class="groom-men">
                    <img src="{% static 'images/bridesmaid-4.jpg' %}" class="img-responsive"
                        alt="Free HTML5 Bootstrap Template by QBootstrap.com" />
                    <h3>Ann Hathway</h3>
                </div>
            </div>
        </div>
    </div>
</div>