{% load static %}
<div id="qbootstrap-press" data-section="blog">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12 text-center section-heading svg-sm colored">
                    <img src="{% static 'images/flaticon/svg/005-two.svg' %}" class="svg"
                        alt="Free HTML5 Bootstrap Template by QBootstrap.com" />
                    <h2>Our Blog</h2>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 subtext">
                            <h3>
                                Far far away, behind the word mountains, far from the
                                countries Vokalia and Consonantia, there live the blind
                                texts.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="qbootstrap-press-item animate-box">
                    <div class="qbootstrap-press-img" style="background-image: url({% static 'images/blog-1.jpg' %})"></div>
                    <div class="qbootstrap-press-text">
                        <h3 class="h2 qbootstrap-press-title">
                            The Wedding Party
                            <span class="qbootstrap-border"></span>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Veritatis eius quos similique suscipit dolorem cumque vitae
                            qui molestias illo accusantium...
                        </p>
                        <p>
                            <a href="#" class="btn btn-primary btn-sm">Learn more</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="qbootstrap-press-item animate-box">
                    <div class="qbootstrap-press-img" style="background-image: url({% static 'images/blog-2.jpg' %})"></div>
                    <div class="qbootstrap-press-text">
                        <h3 class="h2 qbootstrap-press-title">
                            Wedding Party
                            <span class="qbootstrap-border"></span>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Veritatis eius quos similique suscipit dolorem cumque vitae
                            qui molestias illo accusantium...
                        </p>
                        <p>
                            <a href="#" class="btn btn-primary btn-sm">Learn more</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="qbootstrap-press-item animate-box">
                    <div class="qbootstrap-press-img" style="background-image: url({% static 'images/blog-3.jpg' %})"></div>
                    <div class="qbootstrap-press-text">
                        <h3 class="h2 qbootstrap-press-title">
                            Venue Wedding
                            <span class="qbootstrap-border"></span>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Veritatis eius quos similique suscipit dolorem cumque vitae
                            qui molestias illo accusantium...
                        </p>
                        <p>
                            <a href="#" class="btn btn-primary btn-sm">Learn more</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="qbootstrap-press-item animate-box">
                    <div class="qbootstrap-press-img" style="background-image: url({% static 'images/blog-4.jpg' %})"></div>
                    <div class="qbootstrap-press-text">
                        <h3 class="h2 qbootstrap-press-title">
                            About The Couple
                            <span class="qbootstrap-border"></span>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Veritatis eius quos similique suscipit dolorem cumque vitae
                            qui molestias illo accusantium...
                        </p>
                        <p>
                            <a href="#" class="btn btn-primary btn-sm">Learn more</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>