{% load static %}
<div id="qbootstrap-story" data-section="story">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12 text-center section-heading svg-sm-2">
                    <img src="{% static 'images/flaticon/svg/003-luxury.svg' %}" class="svg"
                        alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <h2>Our Love Story</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="timeline animate-box">
                    <li class="animate-box">
                        <div class="timeline-badge" style="background-image:url({% static 'images/couple-1.jpg' %});"></div>
                        <div class="timeline-panel">
                            <div class="overlay"></div>
                            <div class="timeline-heading">
                                <h3 class="timeline-title">First We Meet</h3>
                                <span class="date">October 19, 2019</span>
                            </div>
                            <div class="timeline-body">
                                <p>我們在 Pray & Praise Night 第一次見面。</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge" style="background-image:url({% static 'images/couple-2.jpg' %});"></div>
                        <div class="timeline-panel">
                            <div class="overlay overlay-2"></div>
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Coffee Time</h3>
                                <span class="date">Jine 13, 2020</span>
                            </div>
                            <div class="timeline-body">
                                <p>我們在忠孝復興的咖啡廳，聊著彼此的異象與未來，並且開始了我們的旅程。</p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box">
                        <div class="timeline-badge" style="background-image:url({% static 'images/couple-3.jpg' %});"></div>
                        <div class="timeline-panel">
                            <div class="overlay"></div>
                            <div class="timeline-heading">
                                <h3 class="timeline-title">In A Relationship</h3>
                                <span class="date">June 14, 2020</span>
                            </div>
                            <div class="timeline-body">
                                <p>這天是我們正式向大家公布，我們開始交往啦！並且收到了超級多大家與神的祝福。</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge" style="background-image:url({% static 'images/couple-4.jpg' %});"></div>
                        <div class="timeline-panel">
                            <div class="overlay overlay-2"></div>
                            <div class="timeline-heading">
                                <h3 class="timeline-title">We're Engaged</h3>
                                <span class="date">March 6, 2021</span>
                            </div>
                            <div class="timeline-body">
                                <p>我拿著戒指，緊張地告訴你，我想與你共度餘生，你願意嫁給我嗎？</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>