{% load static %}
<div id="qbootstrap-when-where" data-section="when-where">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12 text-center section-heading svg-sm colored">
                    <img src="{% static 'images/flaticon/svg/005-two.svg' %}" class="svg"
                        alt="Free HTML5 Bootstrap Template by QBootstrap.com" />
                    <h2>Ceremony &amp; Party</h2>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 subtext">
                            <h3>
                                Far far away, behind the word mountains, far from the
                                countries Vokalia and Consonantia, there live the blind
                                texts.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-md">
            <div class="col-md-6 text-center animate-box">
                {% comment %} <div class="card mb-3 wedding-events">
                    <img src="{% static 'images/wed-ceremony.jpg' %}" class="card-img-top ceremony-bg">
                    <div class="desc">
                        <div class="card-body">
                            <h3>Wedding Ceremony</h3>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div> {% endcomment %}
                <div class="wedding-events">
                    <div class="ceremony-bg" style="background-image: url({% static 'images/wed-ceremony.jpg' %})">
                    </div>
                    <div class="desc">
                        <h3>Wedding Ceremony</h3>
                        <div class="row">
                            <div class="col-md-2 col-md-push-5">
                                <div class="icon-tip">
                                    <span class="icon">
                                        <i class="icon-heart-o"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1">
                                <div class="date">
                                    <i class="icon-calendar"></i>
                                    <span>Saturday</span>
                                    <span>02 Dec. 2017</span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1">
                                <div class="date">
                                    <i class="icon-clock2"></i>
                                    <span>10:00 AM</span>
                                    <span>11:00 AM</span>
                                </div>
                            </div>
                        </div>
                        <p>
                            Far far away, behind the word mountains, far from the
                            countries Vokalia and Consonantia, there live the blind texts.
                            Separated they live in Bookmarksgrove right at the coast of
                            the Semantics, a large language ocean.
                        </p>
                        <p>
                            <a href="#" class="btn btn-primary btn-sm">Learn more</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="map" class="qbootstrap-map"></div>
            </div>
        </div>
    </div>
</div>